.anhtop img{
    width: 600px;
    height: 130px;
    border: 1.5px solid black
}
.giua{
    width: 440px;
    height: 300px;
    border:1.5px solid black;
    background-color: pink;
    float: left;
}
.anh1 img{
    width: 150px;
    height: 140px;
    margin: 15px;
    float: left;
}
.nd{
    width: 185px;
    height: 140px;
    float: left;
    margin-top:15px 
}
h5{
    color: red;
    margin-left: 15px
}
.anhnho img{ 
    width: 70px;
    height: 60px;
    margin-left: 15px;
    float: left
}
.lienket{
    width: 140px;
    height: 300px;
    border: 1.5px solid black;
    background-color: pink;
    float: left;
    margin-left: 15px
}
.bottom{
    border: 1.5px solid black;
    width: 600px;
    height: 60px;
    clear: both;
    margin-top: 335px;
    background-color: pink
}
h4{
    text-align: center;
}